//@gallery-height:             655px;

.gallery{
	width: 100%;
	margin-top: 85px;
}
.gallery__inner{
	max-width: 1180px;
	width: 100%;
	height: 615px;
	margin: @margin-centering;	
	background: url(../img/gallery-main.jpg) 0 0 no-repeat,
	            url(../img/gallery-thumb01.jpg) 0 500px repeat-x ;
}