// @other-rooms-height:             437px;

.other-rooms{
	background-color: @grey-lightest;
	width: 100%;
	padding: 0 10px;
	border-bottom: 1px solid rgba(0,0,0,.08);
}
.other-rooms__list{
	padding: 0;
	// margin: 50px 0 20px;
	@media (min-width: @screen-sm) {
	// margin: 0 -10px;
	}	
}
.other-rooms__item{
	display: inline-block;
	padding: 0 0 30px;
	margin: 0 0 20px;
	text-align: center;
	background-color: @white;
	border: 1px solid rgba(0,0,0,.08);
	a:hover{
		color: @grey-darkest;
	}	
	&:last-child{

	}
	img{
		width: 100%;
	}
	.room-type{
		h3{
			font-size: @font-h2-3;
			@media (min-width: @screen-sm) {
				// font-size: @font-h2-3;
			}
		 	@media (min-width: @screen-lg) {
				 	
			}	
		}
	}
	.price-per-night{
		font-size: @font-small;
	}
	
}


// .room-pic--thumb{
// 	// width: 380px;
// 	// height: 200px;	
// }