@other-rooms-height:             437px;

.other-rooms{
	background-color: @grey-lightest;
	width: @large-width;
	height: @other-rooms-height;	
	margin: @margin-centering;
//	border-bottom: 1px solid rgba(0,0,0,.08);
}
.other-rooms__list{
	padding: 0;
	width: 1180px;
	margin: @margin-centering;
	padding-top: 50px; 	
}
.other-rooms__item{
	display: inline-block;
	width: 380px;
	height: 335px;
	margin-right: 20px;
	text-align: center;	
	border: 1px solid rgba(0,0,0,.08);
	&:last-child{
		margin-right: 0;
	}
}


.room-pic--thumb{
	width: 380px;
	height: 200px;	
}