.reservation{
	margin: @margin-centering;	
	padding-top: 70px;
	padding-bottom: 45px;
	text-align: center;
	border-top:  1px solid rgba(0,0,0,.08);
	@media (min-width: @screen-sm) {

	}
 	@media (min-width: @screen-lg) {
	padding-top: 65px;		 	
	}	
	h2{
		margin-top: 0;
		margin-bottom: 0;
		font-size: @font-h2-2;
		font-family: @pt-serif-caption;
		letter-spacing: @letter-spacing-50;		
		font-weight: @font-weight-medium;
	}
	p{
		font-size: @font-p;
		font-family: @fira-sans;
		line-height: @line-height;
		margin-bottom: 0;
		strong{
			font-weight: @font-weight-medium;			
			color: @light-orange;			
		}
	}
}
.step{
	text-transform: uppercase;
	color: @grey;
	font-size: @font-small;
	font-family: @fira-sans;
	font-weight: @font-weight-medium;	
	letter-spacing: @letter-spacing-15;		
}