@relax-height:             400px;


.relax{
	width: @large-width;
	height: @relax-height;
	margin: @margin-centering;
	text-align: center;
	background: url(../img/bg01.png) 50% -10px no-repeat;	
}
.relax__title{
	margin: 0;
	padding-top: 20px;
	font: @font-h2;
	font-family: @pt-serif-caption;
	letter-spacing: @letter-spacing-15;	
}
.relax__text-wrapper{
	width: 580px;
	margin: @margin-centering;	
	font: @font-p;
	font-family: @fira-sans;
	letter-spacing: @letter-spacing-15;
	margin-top: 25px;		
}
.relax__features{
	width: 780px;
	margin: @margin-centering;
	margin-top: 30px;
	padding: 0;	
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font: @font-p2;              /* подходит только для однострочного описания */ 
	font-family: @fira-sans;
	font-weight: @font-weight-medium;	
	letter-spacing: @letter-spacing-15;	
	li{
		display: inline-block;  /* только чтобы убрать маркеры, т.к. для flex не требуется */
		width: 80px;
		height: 80px;
		border-radius: 40px;
		padding-top: 80px;     /* если сделать больше, удлинится изображение */ 
	}
}